<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">Workflow</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="notifications.html"><i class="material-icons">notifications</i></a></li>
                <li><a href="#login-box" class="modal-trigger"><i class="material-icons">settings</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="/static/images/user-background.jpg">
            </div>
            <a href="#user"><img class="circle materialboxed" src="/static/images/me.jpg"></a>
            <a href="#name"><span class="white-text name">Sumit Jadhav</span></a>
            <a href="#email"><span class="white-text email">summit.jadhav@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a href="#login-box" class="modal-trigger">Log In</a></li>
</ul>

{% include 'login.html' %}
