<div class="row">
    <div class="col s12">
        <div style="padding: 35px;" align="center" class="card">
            <div class="row">
                <div class="left card-title">
                    <b>New Job</b>
                </div>
            </div>

            <div class="row">
                <form class="col s12 card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="job_name" type="text" class="validate">
                            <label for="job_name">Job Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="job_type" type="text" class="validate">
                            <label for="job_type">Type</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="job_details" class="materialize-textarea validate"></textarea>
                            <label for="job_details">Details</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="created_by" type="text" class="validate">
                            <label for="created_by">Created By</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="created_on" type="text" class="datepicker validate">
                            <label for="created_on">Created On</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn" type="button" name="cancel">Clear
                            </button>
                        </div>
                        <div class="input-field col s6">
                            <button class="btn" type="submit" name="submit">Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>